.container {
    width: 350px;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: #fcfade;
    margin: 10px;
    text-align: center;
}

img {
    border-radius: 10px;
}